<tr id="<%= object_to_param(user) %>" data-item-url="<%= user_path(user) %>">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.title %></td>
  <td class="right-arrow">&nbsp;</td>
</tr>
