<div class="container">
  <div class="row">
    <div class="login-notice col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-3">
      <%= render partial: "shared/notices", locals: { text: notice, alert_class: "alert-success" } %>
      <%= render partial: "shared/notices", locals: { text: alert, alert_class: "alert-danger" } %>
      <%= render partial: "shared/notices", locals: { text: devise_error_messages!, alert_class: "alert-danger" } %>
    </div>
  </div>

  <div class="row">
    <div class="login-form-box col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <div class="login-form">
        <div class="lock-logo"></div>

        <div class="hello-text">
          Change your password
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New password" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: "button-green btn btn-default btn-block" %>
          </div>
        <% end %>
      </div>

      <div class="form-footer-buttons">
        <div class="button-container">
          <%= link_to "Sign in", new_session_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
