<tr id="<%= object_to_param(admin_user) %>" data-item-url="<%= user_path(admin_user) %>">
  <td><%= admin_user.first_name %></td>
  <td><%= admin_user.last_name %></td>
  <td><%= admin_user.title %></td>
  <td class="right-arrow">&nbsp;</td>
</tr>
