<tr id="<%= object_to_param(company_user) %>" data-item-url="<%= user_path(company_user) %>">
  <td><%= company_user.first_name %></td>
  <td><%= company_user.last_name %></td>
  <td><%= company_user.title %></td>
  <td class="right-arrow">&nbsp;</td>
</tr>
